<a href="/dashboard" id="goBacktoDash">&larr; Back to Dashboard</a>

<article class="newPage">
    <section class="newForm">
        <div class="formHeader">
            <h2>Create New Blog Post</h2>
        </div>
        <div class="formSection">
            <form class="newPost-form">
                <div class="newPost-title">
                    <label for="postTitle"> Title </label>
                    <input type="text" id="postTitle" name="postTitle" />
                </div>
                <div class="postContent">
                    <label for="postContent">Post Content</label>
                    <textarea class="entry-field" id="postContent" name="postContent"></textarea>
                </div>
                <button type="submit" class="button">Create Post</button>
            </form>
        </div>
    </section>
</article>

<script src="/public/js/addPost.js"></script>