<div id="hero">
    <div class="hero-body">
        <h2> Welcome to Code Realm, a space for web developers.</h2>
        <div class="button-container">
            <a href="/post"><button class="search-btn" type="submit">Let's Blog!</button></a>
        </div>
    </div>
</div>