<div id="heroLogin">
<div class="container my-5">
    <form class="form login-form">
        <div class="form-group">
            <label for="username-login">Username:</label>
            <input class="form-input" type="text" id="username-login" />
        </div>

        <div class="form-group">
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>

        <div class="form-group">
            <button class="search-btn log-in mx-3" type="submit"> login</button>
            <a href="/signup" class="sign-up mx-2"> Create an Account</a>
        </div>
        
    </form>
</div>
</div>
<script src="/public/js/login.js"></script>