<div id="heroLogin">
<div class="container my-5">
    <form class="form login-form">
        <div class="form-group">

            <input type="text" class="form-input" id="email-login" placeholder="Email" />

            <input type="text" class="form-input" id="password-login" placeholder="Password" />

            <button class="form-input login" type="submit">Login</button>
            <br>
            <button class="form-input signup">
            <a href="/signup" class="sign-up mx-2">I don't have a login</a></button>
        </div>
    </form>
</div>
</div>
<script src="/public/js/login.js"></script>