<a href="/dashboard" class="goBacktoDash">&larr; Back to Dashboard </a>
{{>postInfo post}}

{{#if logged_in}}

<form class="commentForm">
    <div>
        <textarea name="commentContent"></textarea>
    </div>
    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>

{{/if}}
{{> comments posts.comments}}

{{#if logged_in}}
<script src="/public/js/comment.js"></script>
{{/if}}